@import "src/scss/config/config";

.swiper-wrapper {
  margin-left: 0;

  @media (min-width: $breakpoint--md) {
    margin-left: 15px;
  }
}

.swiper {
  &-button {
    &-next, &-prev {
      color: $lightest;
      @media (max-width: $breakpoint--md) {
        color: $base-warm-light;
      }
    }

  }
}
