@import "src/scss/config/config";

html {
  @include font-regular;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  box-sizing: border-box;
  margin: 0;
  width: 100vw;
  //padding: 50px;

  @media (min-width: $breakpoint--xl-extra) {
    box-sizing: border-box;
    width: 100vw !important;
  }

  &_bg {
    &-light {
      background-color: $base-cold-light;
    }
  }

  @media (min-width: $breakpoint--md) {
    padding: 100px 70px;
  }
}
