@import "src/scss/config/config";

html {
  @include font-regular;
}

body {
  margin: 0
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 50px;

  &_bg {
    &-light {
      background-color: $base-cold-light;
    }
  }

  @media (min-width: $breakpoint--md) {
    padding: 100px 70px;
  }
}
