@import "src/scss/config/config";

.header {
  box-sizing: border-box;
  height: 50vh;


  @media (min-width: $breakpoint--md) {
    height: 90vh;
  }

  &_bg-color {
    &_dark {
      background-color: $base-dark;

      .header__titel {
        -webkit-text-fill-color: $base-dark;
        -webkit-text-stroke-color: $accent-light;
      }

      h5 {
        color: $accent-light;
      }

      h5:active, h5:hover {
        color: $base-light;
      }
    }

    &_base-light {
      background-color: $base-light;
      .header__titel {
        -webkit-text-fill-color: $base-light;
        -webkit-text-stroke-color: $accent-light;
      }

      h5 {
        color: $accent-light;
      }

      h5:active, h5:hover {
        color: $base-darkest;

      }
    }

    &_accent-dark {
      background-color: $accent-dark;

      .header__titel {
        -webkit-text-fill-color: $accent-dark;
        -webkit-text-stroke-color: $lightest;
      }

      h5 {
        color: $base-darkest;
      }

      h5:active, h5:hover {
        color: $base-light;
      }
    }
  }

  h1 {
    text-align: center;
    padding: 5% 0
  }
}
